{% extends "./base.html.twig" %}

{% block navbar %}
    {% include 'inc/navbar.html.twig' with {'categories': categories} %}
{% endblock %}

{% block body %}
    <div class="w-4/5 m-auto text-center">
        <div class="py-12 border-b border-gray-200">
            <h1 class="text-6xl pt-12 pb-8">
                World dishes!
            </h1>

            <!--<span class="font-light text-gray-500 italic">
                Created by ...
            </span>-->
            <h5 class="font-light text-gray-500 italic">
                Please enter your query in the following manner...
            </h5>
            <h6 style="line-height: 80px">
                http://localhost:8888/api/meals?per_page=10&page=1&lang=2&with=category,tags,ingridients&diff_time
            </h6>
                <ul style="list-style: none; line-height: 35px">
                    <li>- parameter 'per page' controls number of returned results</li>
                    <li>- parameter 'page' controls pagination</li>
                    <li>- parameter 'lang' controls language</li>
                    <li>- parameter 'with' controls returned results content</li>
                    <li>- parameter 'diff_time' controls returned meal status (created, updated, deleted)</li>
                </ul>
            <h5 class="font-light text-gray-500 italic">
                Limiting search results by category or tags or both parameters... 
            </h5>
            <h6 class="font-light text-gray-500 italic">
                Query example... 
            </h6>
            <h6 style="line-height: 80px">
                http://localhost:8888/api/meals?category=1,2&tags=1,2&per_page=100&page=1&lang=2&with=category,tags,ingridients&diff_time=1987654321
            </h6>    
        </div>
    </div>

    {#{% if app.user %}
        <div class="mx-auto w-4/5 my-8">
            <a 
                href="/meal/create" 
                class="uppercase border border-gray-500 text-lg py-4 px-6 rounded transition transition-all bg-gray-800 text-white hover:bg-white hover:text-gray-800">
                Create New meal
            </a>
        </div>
    {% endif %}#}
    
    <div class="md:grid lg:grid-cols-3 gap-20 w-4/5 mx-auto py-15 ">
        <!-- Review Item -->
        
        {% for meal in meals %}
            <div class="text-center pt-8 pb-4">
                {#<img
                    src="{{ meal.imagePath }}"
                    alt=""
                    class="shadow-xl rounded-md"
                />#}

                <h2 class="text-gray-700 font-bold text-3xl py-2">
                    {{ meal.title }}
                </h2>

                <span class="text-gray-500">
                    By <span class="italic text-sm text-gray-800">Code With Dary | 28.01.2022
                </span>

                <p class="text-base text-gray-700 pt-4 pb-10 leading-8 font-light">
                    {{ meal.description }}
                </p>

                <a href="/meal/{{ meal.id }}" class="uppercase border border-gray-500 text-gray-600 text-lg py-4 px-12 rounded transition transition-all hover:bg-gray-800 hover:text-white">
                    Description
                </a>
            </div>
        {% endfor %}
    </div>
{% endblock %}