{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block navbar %}
    {% include 'inc/navbar.html.twig' with {'categories': categories} %}
{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">

    <h3 class="text-grey-700 font-bold text-3xl py-2">
                    {{ meal.title }}
                </h3>

                <span class="text-gray-500">
                     <span class="italic text-sm text-gray-800">Created at  {{ meal.createdAt|date('d.m.y') }} <br></br>
                </span>

                <p class="text-base text-gray-700 pt-4 pb-10 leading-8 font-light">
                    {{ meal.description }}
                </p>
    
</div>
{% endblock %}